
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>  

 <script type="text/javascript"> 
    var data=[];
    var file;
    $(document).ready(function() {
   
    // The event listener for the file upload
    document.getElementById('txtFileUpload').addEventListener('change', upload, false);

    // Method that checks that the browser supports the HTML5 File API
    function browserSupportFileUpload() {
        var isCompatible = false;
        if (window.File && window.FileReader && window.FileList && window.Blob) {
        isCompatible = true;
        }
        return isCompatible;
    }

    // Method that reads and processes the selected file
  
    function upload(evt) {
        if (!browserSupportFileUpload()) {
            alert('The File APIs are not fully supported in this browser!');
            } else {
                //var data = null;
                window.file= evt.target.files[0];
                var reader = new FileReader();
                reader.readAsText(window.file);
                reader.onload = function(event) {
                    var csvData = event.target.result;
                    data = $.csv.toArrays(csvData);
                    if (data && data.length > 0) {
                      /*for(var k=0; k < window.data.length; k++) { }*/
                   /* alert('Test -' + data[0] + '- rows successfully!');*/
                    
var x=[];
var x1=[];
var x2=[];
var x3=[];
var x4=[];


for (var i = 0; i < data.length; i++) {
  //row=window.data[i];
	 //x[i]=row['Angle'];
   x[i]=data[i] * 1;
 
	if(x[i]>=0 && x[i]<=90){
	 x1.push(x[i]);
	}else if(x[i]>90 && x[i]<=180){
		x2.push(x[i]);
	}
	else if(x[i]>=-90 && x[i]<0){
		x3.push(x[i]);
	}
	else {
		x4.push(x[i]);
	}
}

var trace1 = {
    x: x1,
	 name:'0 < angle <= 90',
    type:'histogram',
	marker:{
   color:'pink',
	line: {
    color:"rgba(255, 100, 102, 1)", 
    width: 1
	},	},
	xbins: {
     hovermode:'data',
     end: 180, 
    size: 2, 
    start: 0,
      },
	opacity: 0.65, 
  };

var trace2 = {
    x: x2,
	name:'90 < angle <= 180',
    type:'histogram',
marker: {
  color: "rgba(0, 85, 201, 0.5)",
	line: {
    color:"rgba(0, 41, 77, 1)", 
    width: 1
	},	},
	xbins: {
     hovermode:'data',
     end: 180, 
    size: 2, 
    start: 0,
      },
	opacity: 0.65, 
  };
	
var trace3 = {
    x: x3,
	name:'-90 <= angle < 0',
    type:'histogram',
	marker: {
  color: "rgba(0, 196, 135, 0.5)",
	line: {
    color:"rgba(0, 71, 29, 0.5)", 
    width: 1
	},	},
	xbins: {
     hovermode:'data',
     end: 0, 
    size: 2, 
    start: -180,
      },
	opacity: 0.65, 
  };
	
var trace4 = {
    x: x4,
	name:'-179 <= angle < -90',
    type: 'histogram',
	marker: {
  color:"rgba(101, 78, 163, 1)",
	line: {
    color:"rgba(101, 78, 100, 1)", 
    width: 1
	},	},
	xbins: {
    hovermode:'data',
     end: 0, 
    size: 2, 
    start: -180,
      },
	opacity: 0.65, 
  };
var trace5={
  x: i,
  y: x,
  mode: 'lines+markers+text',
  marker: { size: 8 },
  hoverinfo:"y+x",
  text: x,
  textposition: 'top center',
  textfont: {
    family:  'Raleway, sans-serif',
    color: "rgb(187, 10, 30)",
    size: 12,
  },
};
                      
var d = [trace1, trace2, trace3, trace4];
var layout1 = {
	barmode:"overlay",
   title: 'Measured Data Histogram',
   xaxis: {
    title: "Measured Angles",
    showgrid:true,
    zeroline:true,
    zerolinewidth: 2,
     autorange:true,
     autotick:true,
    },
  yaxis: {
    title: "Count",
    showgrid:true,
    zeroline:true,
    zerolinewidth: 2,
     autotick:true,
    }
};
Plotly.newPlot('Histogram', d, layout1);

var d2=[trace5];
var layout2 = {
   yaxis: {
    range: [-200, 200],
  },
  title:'Measured Data Line Plot',
  yaxis: {
    title: "Measured Angles",
    showgrid:true,
    zerolinewidth: 2,
     autotick:true,
    }
};
Plotly.newPlot('LinePlot', d2, layout2,{displayModeBar: true}, {scrollZoom: true},{displaylogo: false});
                      
                    }
                     
                   else {
                        alert('No data to import!');
                    }
                };
                reader.onerror = function() {
                    alert('Unable to read ' + window.file.fileName);
                };
            //}
       // }
     
    
    /*});*/
        
    
/*Plotly.d3.csv('', function(rows){*/

            }
          }
    }); 
  </script>
   
    <body>
   <style>
              /****** IGNORE ******/
body { 
  width: 800px; 
  margin: 100px auto; 
  background-color: #f5f5f5; 
}

.copyright {
  display:block;
  margin-top: 100px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.copyright a{
  text-decoration: none;
  color: #EE4E44;
}


/****** CODE ******/

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#a43f85;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#a43f85;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
</style>   

<div id="dvImportSegments" class="file-upload ">
    <fieldset>
      <legend>Upload your CSV File</legend>
           <div class="file-select">
    <div class="file-select-button" id="fileName">Choose File</div>
    <div class="file-select-name" id="noFile">No file chosen...</div> 
    <input type="file" name="File Upload" id="txtFileUpload" accept=".csv" />
     </fieldset>
  </div>     
<div id="Histogram"></div>
<div id="LinePlot"></div>
    </body>
